@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typography";
@import "./base/animations";
@import "./components/loader";
@import "./components/button";
@import "./layouts/header.scss";
@import "./layouts/footer.scss";
@import "./pages/home";





