*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

div, p {
  font-size: 1.6rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes hide {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes visibility {
  to {
    opacity: 1;
    left: 0px;
  }
}
@keyframes slide-on {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-60px);
  }
}
@keyframes slide-off {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
@keyframes appearance {
  0% {
    transform: translateY(25px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  animation: hide 1s 2s forwards;
}

.spinner {
  width: 10rem;
  height: 10rem;
  border: 5px solid #eeeeee;
  border-radius: 50%;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  animation: spin 1.5s 3 ease-in-out;
}

.body {
  position: relative;
}

.container {
  position: absolute;
  left: -99999px;
  opacity: 0;
  width: 100%;
  animation: visibility 0.5s 1.7s forwards;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #FFF;
  padding: 16px 22px;
  border-radius: 25px;
  box-shadow: 0 6px 5px #C6C6C6;
  width: 100%;
  max-width: 220px;
  min-width: 200px;
  max-height: 50px;
  position: relative;
  z-index: 2;
  transition: transform 400ms;
  cursor: pointer;
}
.btn:hover {
  transform: scale 1.2;
}
.btn:hover::after {
  opacity: 0.15;
}
.btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 25px;
  opacity: 0;
  z-index: 1;
  transition: opacity 400ms;
}
@media screen and (max-width: 290px) {
  .btn {
    font-size: 14px;
  }
}

header {
  box-shadow: 0 0 5px #CFCFCF;
  position: relative;
}
header .logo {
  padding: 22px 0 12px 0;
  margin: auto;
  display: block;
}
header .fa-arrow-left {
  position: absolute;
  font-size: 2rem;
  bottom: 20px;
  left: 25px;
  color: #353535;
  transition: transform 400ms;
}
header .fa-arrow-left:hover {
  transform: scale(1.5);
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 36px 25px;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  color: #FFF;
  font-weight: 200;
  margin-bottom: 26px;
}
@media screen and (min-width: 400px) {
  footer h3 {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 675px) {
  footer h3 {
    font-size: 3.2rem;
    text-align: center;
  }
}
footer a {
  text-decoration: none;
  color: #FFF;
}
footer i {
  margin-right: 10px;
  font-size: 1.2rem;
}
footer .fa-hands-helping {
  font-size: 1rem;
  margin-right: 9px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__links a:hover {
  text-decoration: underline;
  color: #dddddd;
}
@media screen and (min-width: 675px) {
  .footer__links {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.location-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: #EAEAEA;
}
.location-bar p {
  padding: 0 0 0 18px;
}

.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  min-height: 287px;
  text-align: center;
  padding: 43px 35px 57px 35px;
}
@media screen and (min-width: 582px) {
  .home-intro {
    justify-content: space-evenly;
    height: 400px;
  }
}
.home-intro h1 {
  font-size: 2.6rem;
  margin-bottom: 20px;
}
@media screen and (min-width: 582px) {
  .home-intro h1 {
    margin-bottom: -20px;
  }
}
.home-intro p {
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 32px;
}

.process {
  padding: 50px 20px 68px 20px;
}
.process h2 {
  padding-bottom: 32px;
}
@media screen and (min-width: 400px) {
  .process {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.process-step {
  display: flex;
  align-items: center;
  position: relative;
  left: -12px;
}
.process-step .step-number {
  background-color: #9356DC;
  color: #FFF;
  font-size: 14px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 12px;
  top: -10px;
}
.process-step i {
  margin: 0 26px 0 34px;
  font-size: 2rem;
  color: #7E7E7E;
}
.process-step p {
  font-weight: 500;
}
.process-step .step-info {
  display: flex;
  align-items: center;
  width: 322px;
  height: 74px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 22px;
  box-shadow: 0 10px 10px #ebebeb;
}
.process-step .step-info__3 {
  background-color: #F5EDFF;
}
.process-step .step-info__3 i {
  color: #9356DC;
}

.restau-list {
  padding: 50px 20px 68px 20px;
  background-color: #f6f6f6;
}
.restau-list__heading {
  padding-bottom: 32px;
}
@media screen and (min-width: 400px) {
  .restau-list__heading {
    text-align: center;
  }
}
@media screen and (min-width: 700px) {
  .restau-list__listing {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
}
@media screen and (min-width: 1380px) {
  .restau-list__listing {
    grid-template-columns: auto auto auto auto;
  }
}
.restau-list .restau-prev {
  width: auto;
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
  transition: transform 400ms;
}
.restau-list .restau-prev:hover {
  transform: scale(1.05);
}
.restau-list .restau-prev img {
  width: auto;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  object-position: center bottom;
}
@media screen and (min-width: 480px) {
  .restau-list .restau-prev img {
    object-position: center center;
  }
}
.restau-list .restau-prev__new-style {
  background-color: #99E2D0;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 8px 12px;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 2px;
  color: #008766;
}
@media screen and (min-width: 700px) {
  .restau-list .restau-prev__new-style {
    right: 22px;
  }
}
.restau-list .restau-prev #restau-img-lanote {
  object-position: 0 -150px;
}
@media screen and (min-width: 700px) {
  .restau-list .restau-prev {
    width: 335px;
    padding: 0 10px 0 10px;
  }
}

.restau-prev__heading {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #FFF;
  border-radius: 0 0 15px 15px;
  padding: 20px 24px 20px 14px;
  box-shadow: 0 5px 5px #ebebeb;
}
.restau-prev__heading h3 {
  font-size: 1.8rem;
}
.restau-prev__heading p {
  font-weight: 100;
}
.restau-prev__heading .fa-heart {
  font-size: 2.8rem;
  color: black;
  position: absolute;
  right: 24px;
  opacity: 1;
  transition: opacity 750ms;
  cursor: pointer;
  z-index: 1;
}
.restau-prev__heading .heart-hover {
  font-size: 2.8rem;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
  font-weight: 900;
  opacity: 0;
  transition: opacity 750ms transform 500ms;
  z-index: 2;
}
.restau-prev__heading .heart-hover:hover {
  opacity: 1;
  transform: scale(1.15);
}

.heart--svg {
  width: 28px;
  height: 28px;
  -webkit-mask: url(../../public/img/icons/heart-regular-solid.svg) no-repeat center;
  mask: url(../../public/img/icons/heart-regular-solid.svg) no-repeat center;
  background-color: #000;
  position: relative;
  z-index: 1;
}

.heart--svg-hover {
  width: 18px;
  height: 18px;
  -webkit-mask: url(../../public/img/icons/heart-regular-full.svg) no-repeat center;
  mask: url(../../public/img/icons/heart-regular-full.svg) no-repeat center;
  background-image: linear-gradient(#FF79DA, #9356DC);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  opacity: 0;
}
.heart--svg-hover:hover {
  opacity: 1;
}

.heart--svg-2 {
  width: 28px;
  font-size: 28px;
  height: auto;
  background-image: red;
  background-color: red;
  color: red;
  fill: red;
}

.restau-img {
  width: 100%;
  object-fit: cover;
  max-height: 680px;
}

.menu {
  background-color: #f6f6f6;
  padding: 30px 20px 70px 20px;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  position: relative;
  opacity: 1;
}
@media screen and (min-width: 900px) {
  .menu {
    max-width: 75%;
    margin: -75px auto 0 auto;
    box-shadow: 0px 3px 10px -3px;
  }
}
.menu__headings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.menu__headings h1 {
  font-family: "Shrikhand";
  font-size: 2.6rem;
}
.menu__headings .fa-heart {
  font-size: 2.8rem;
  color: black;
  position: absolute;
  top: 35px;
  right: 40px;
  opacity: 1;
  transition: opacity 400ms;
  cursor: pointer;
  z-index: 1;
}
.menu__headings .heart-hover {
  font-size: 2.8rem;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
  font-weight: 900;
  opacity: 0;
  transition: opacity 400ms transform 400ms;
  z-index: 2;
}
.menu__headings .heart-hover:hover {
  opacity: 1;
  transform: scale(1.15);
}
.menu h2 {
  font-weight: 300;
  font-size: 1.6rem;
  margin-left: 5px;
}
.menu h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.menu .btn {
  display: block;
  margin: auto auto;
  text-align: center;
  min-width: 185px;
  width: 185px;
}
.menu hr {
  width: 40px;
  height: 3px;
  border: none;
  background-color: #99E2D0;
  margin: 5px 0 15px 5px;
}

.dishes .dish:nth-child(1) {
  animation: appearance 1s 2700ms forwards;
}
.dishes .dish:nth-child(2) {
  animation: appearance 1s 2900ms forwards;
}
.dishes .dish:nth-child(3) {
  animation: appearance 1s 3100ms forwards;
}
.dishes .dish:nth-child(4) {
  animation: appearance 1s 3300ms forwards;
}

.dish {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 68px;
  background-color: #FFF;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 12px 22px 12px 12px;
  box-shadow: 0 10px 10px #ebebeb;
  position: relative;
  overflow: hidden;
  width: 100%;
  opacity: 0;
}
.dish__description {
  display: flex;
  justify-content: space-between;
}
.dish p {
  font-size: 1.4rem;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}
.dish .price {
  font-weight: 500;
  animation: slide-off 400ms;
}
.dish:hover .price {
  animation: slide-on 400ms both;
}
.dish:hover .check {
  animation: slide-on 400ms both;
}
.dish:hover .fa-check-circle {
  animation: rotation 400ms forwards;
}
.dish .check {
  height: 68px;
  width: 60px;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide-off 400ms;
}
.dish .check .fa-check-circle {
  color: #FFF;
  font-size: 20px;
}

.menu__starters, .menu__main-dishes, .menu__desserts {
  margin-bottom: 35px;
}

.menu__desserts {
  margin-bottom: 50px;
}

.comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

/*# sourceMappingURL=style.css.map */
