.btn {
    background: linear-gradient($color-secondary, $color-primary);
    color: $white-color;
    padding: 16px 22px;
    border-radius: 25px;
    box-shadow: 0 6px 5px  #C6C6C6;
    width: 100%;
    max-width: 220px;
    min-width: 200px;
    max-height: 50px;
    position: relative;
    z-index: 2;
    cursor: pointer;

        &:hover {
            box-shadow: 0 6px 7px  #999999;
            
                &::after {
                    opacity: 0.15;
                }
        }

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            border-radius: 25px;
            opacity: 0;
            z-index: 1;
            transition: opacity 400ms;
        }

    @media screen and (max-width: 290px) {
        font-size: 14px;
        
    }
}
