.fa-heart {
    font-size: 2.8rem;
    color: black;
    position: absolute;
    right: 24px;
    opacity: 1;
    transition: opacity 750ms;
    cursor: pointer;
    z-index: 1;
}

.heart-hover {
    font-size: 2.8rem;
    color: transparent;
    background-image: linear-gradient($color-secondary, $color-primary);
    -webkit-background-clip: text;
    background-clip: text;
    cursor: pointer;
    font-weight: 900;
    opacity: 0;
    transition: opacity 750ms transform 500ms;
    z-index: 2;
}

.heart-hover:hover {
    opacity: 1;
    transform: scale(1.15);
  }