.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    animation: hide 1s 2s forwards;
}

.spinner {
    width: 10rem;
    height: 10rem;
    border: 5px solid #eeeeee;
    border-radius: 50%;
    border-top-color: $color-primary;
    border-bottom-color: $color-secondary;
    animation: spin 1.5s 3 ease-in-out;
    
}

.body {
    position: relative;
}

.container {
    position: absolute;
    left: -99999px;
    opacity: 0;
    width: 100%;
    animation: visibility 0.5s 1.7s forwards;
}

