*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: black;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    animation: overflow 200ms 2.8s forwards;
}