.location-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #EAEAEA;
    p {
        padding: 0 0 0 18px;
    }
}


.home-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-primary;
    min-height: 287px; 
    text-align: center;
    padding: 43px 35px 57px 35px;
    
    @media screen and (min-width: 582px) {
        justify-content: space-evenly;
        height: 400px;
    }
    h1 {
        font-size: 2.6rem;
        margin-bottom: 20px;

    @media screen and (min-width: 582px) {
        margin-bottom: -20px;
    }
    }
    p {
        font-size: 1.8rem;
        font-weight: 100;
        margin-bottom: 32px;
    }
}

.process {
    padding: 50px 20px 68px 20px;

        h2 {
            padding-bottom: 32px;;
        }

        @media screen and (min-width: 400px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
}

.process-step {
    display: flex;
    align-items: center;
    position: relative;
    left: -12px;

    .step-number {
        background-color: $color-primary;
        color: $white-color;
        font-size: 14px;
        min-width: 24px;
        min-height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;  
        position: relative;
        left: 12px;
        top: -10px;
    }
        i {
            margin: 0 26px 0 34px;
            font-size: 2rem;
            color: #7E7E7E;
        }

        p {
            font-weight: 500;
        }

    .step-info {
        display: flex;
        align-items: center;
        width: 322px;
        height: 74px;
        background-color: $bg-primary;
        border-radius: 20px;
        margin-bottom: 22px;
        box-shadow: 0 10px 10px  #ebebeb;

            &__3 {
                background-color: #F5EDFF;

                i {
                    color: $color-primary;
            }
        }
    }
}

.restau-list {
    padding: 50px 20px 68px 20px;
    background-color: $bg-primary;

    &__heading {
        padding-bottom: 32px;

        @media screen and (min-width: 400px) {
            text-align: center;
        }
    }

    &__listing {
        @media screen and (min-width: 700px) {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
        }
        @media screen and (min-width: 1380px) {
            grid-template-columns: auto auto auto auto;
        }
    }

    .restau-prev {
        width: auto;
        height: 250px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 23px;
            img {
                width: auto;
                height: 175px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
                object-position: center bottom;

                @media screen and (min-width: 480px) {
                    object-position: center center;
                }   
            }

            .restau-prev__new-style {
                background-color: $color-tertiary;
                position: absolute;
                top : 12px;
                right: 12px;
                padding: 8px 12px;
                font-size: 1.4rem;
                font-weight: 500;
                border-radius: 2px;
                color: #008766;

                @media screen and (min-width: 700px) {
                    right: 22px;
                }
            }
            
            #restau-img-lanote {
                object-position:  0 -150px;
            }

            @media screen and (min-width: 700px) {
                width: 335px;
                padding: 0 10px 0 10px;
            }
        }
}

.restau-prev__heading {
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    border-radius: 0 0 15px 15px;
    padding: 20px 24px 20px 14px;
    box-shadow: 0 5px 5px  #ebebeb;

    h3 {
        font-size: 1.8rem;
    }
    p {
        font-weight: 100;
    }
    .fa-heart {
        font-size: 2.8rem;
        color: black;
        position: absolute;
        right: 24px;
        z-index: 1;
        opacity: 1;
        transition: opacity 750ms;
        cursor: pointer;
    }
    .heart-hover {
        z-index: 2;
        font-size: 2.8rem;
        color: transparent;
        background-image: linear-gradient($color-secondary, $color-primary);
        -webkit-background-clip: text;
        cursor: pointer;
        font-weight: 900;
        opacity: 0;
        transform-origin: 50% 0%;
        transition: opacity 750ms;
    }
    .heart-hover:hover {
        opacity: 1;
      }
    /* .heart-hover:hover + .fa-heart {
        opacity: 0;
    } */

}


