.restau-img {
    width: 100%;
    object-fit: cover;
    max-height: 680px;
}

.menu {
background-color: $bg-primary;
padding: 30px 20px 70px 20px;
border-radius: 40px 40px 0 0;
margin-top: -50px;
position: relative;
opacity: 1;
    @media screen and (min-width: 900px) {
        max-width: 75%; 
        margin: -75px auto 0 auto;
        box-shadow: 0px 3px 10px -3px;
    }

    &__headings {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        position: relative;

        h1{
            font-family: 'Shrikhand';
            font-size: 2.6rem;
            @media screen and (max-width: 350px) {
                font-size: 2.2rem;
            }
            @media screen and (max-width: 300px) {
                font-size: 2rem;
            }
        }

        .fa-heart {
            font-size: 2.8rem;
            color: black;
            position: absolute;
            right: 25px;
            opacity: 1;
            transition: opacity 750ms;
            cursor: pointer;
            z-index: 2;
            @media screen and (max-width: 360px) {
                right: 20px;
            }
            @media screen and (max-width: 320px) {
                right: 10px;
            }
        }
        
        .heart-hover {
            font-size: 2.6rem;
            color: transparent;
            position: absolute;
            right: 26px;
            top: 1px;
            background-image: linear-gradient($color-secondary, $color-primary);
            -webkit-background-clip: text;
            background-clip: text;
            cursor: pointer;
            font-weight: 900;
            opacity:  0;
            transition: opacity 750ms;
            z-index: 1;
            @media screen and (max-width: 360px) {
                right: 21px;
            }
            @media screen and (max-width: 320px) {
                right: 11px;
            }
        }
        
        .fa-heart:hover + .heart-hover{
            opacity: 1
          }
    }

    h2 {
        font-weight: 300;
        font-size: 1.6rem;
        margin-left: 5px;
    }

    h3{
        font-size: 1.7rem;
        font-weight: 500;
        @media screen and (max-width: 330px){
            font-size: 1.5rem;
        }
    }

    .btn {
        display: block;
        margin: auto auto;
        text-align: center;
        min-width: 185px;
        width: 185px;
    }

    hr {
        width: 40px;
        height: 3px;
        border: none;
        background-color: $color-tertiary;
        margin: 5px 0 15px 5px;
    }
}

.dish {
display: flex;
justify-content: space-between;
height: 68px;
background-color: $white-color;
border-radius: 15px;
margin-bottom: 15px;
box-shadow: 0 10px 10px  #ebebeb;
position: relative;
overflow: hidden;
width: 100%;
opacity: 0;

    &__title {
        width: 100%;
        min-width: 0;
        display: flex;
        padding: 12px 22px 12px 12px;
        flex-direction: column;
        justify-content: space-between;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        }

    &__description {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .comment {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        font-weight: 300;
        font-size: 1.4rem;
        @media screen and (max-width: 330px) {
            font-size: 1.1rem;
        }
    }

    .price {
        font-size: 1.4rem;
        font-weight: 500;
    }

    &:hover {
        .check {
            animation: slide-on 400ms forwards;
        }    
        .fa-check-circle {
            animation: rotation 400ms forwards;
        }      
    }
    
    .check {
        height: 68px;
        width: 0px;
        background-color: $color-tertiary;
        border-radius: 0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slide-off 400ms;
    
        .fa-check-circle {
            color: $white-color;
            font-size: 20px;
    
        }
    }

    &:nth-child(1){
        animation: appearance 1s 2700ms forwards;
      }
    &:nth-child(2){
        animation: appearance 1s 2900ms forwards;
      }
    &:nth-child(3){
        animation: appearance 1s 3100ms forwards;
      }
    &:nth-child(4){
        animation: appearance 1s 3300ms forwards;
      }
}

.menu__starters, .menu__main-dishes, .menu__desserts {
margin-bottom: 35px;
}

.menu__desserts {
margin-bottom: 50px;
}

