footer {
    background-color: $bg-footer;
    display: flex;
    flex-direction: column;
    padding: 25px 25px 36px 25px;
        h3 {
            font-family: 'Shrikhand', sans-serif;
            color: $white-color;
            font-weight: 200;
            margin-bottom: 26px;

            @media screen and (min-width: 400px) {
                font-size: 26px;
            }
            @media screen and (min-width: 675px) {
                font-size: 32px;
                text-align: center;
            }
        }
        a {
            text-decoration: none;
            color: $white-color;
        }

        i{
            margin-right: 10px;
            font-size: 1.2rem;
        }
        .fa-hands-helping {
            font-size: 1rem;
            margin-right: 9px;
            
        }
}

.footer {
    &__links{
        display: flex;
        flex-direction: column;

        a:hover {
            text-decoration: underline;
            color: rgb(221, 221, 221);
        }

        @media screen and (min-width:675px) {
            flex-direction: row;
            justify-content: space-evenly;
            
        }
    }
}